<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ThisLeaf</display-name>
  <listener>
    <listener-class>com.liang.login.util.HttpsessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>GETSESSION</servlet-name>
    <servlet-class>com.liang.login.util.getsessionid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GETSESSION</servlet-name>
    <url-pattern>/a.getsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DSQ</servlet-name>
    <servlet-class>com.backstage.servlet.more.Dsq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSQ</servlet-name>
    <url-pattern>*.dsq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IDNEXLOGIN</servlet-name>
    <servlet-class>com.backstage.servlet.yanzheng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDNEXLOGIN</servlet-name>
    <url-pattern>*.indexlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADMINLOGIN</servlet-name>
    <servlet-class>com.backstage.servlet.houtaiyanzheng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMINLOGIN</servlet-name>
    <url-pattern>*.adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADMINDENGLU</servlet-name>
    <servlet-class>com.wu.Servalet.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMINDENGLU</servlet-name>
    <url-pattern>*.admindenglu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EXIT</servlet-name>
    <servlet-class>com.backstage.servlet.exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EXIT</servlet-name>
    <url-pattern>*.EXIT</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BACKSTAGE</servlet-name>
    <servlet-class>com.liang.login.util.exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BACKSTAGE</servlet-name>
    <url-pattern>*.exitbackstage</url-pattern>
  </servlet-mapping>  
  
  <listener>
    <listener-class>com.backstage.servlet.HttpsessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>DINGSHI</servlet-name>
    <servlet-class>com.backstage.servlet.Backstagedingshi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DINGSHI</servlet-name>
    <url-pattern>*.dingshiqi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USERSHOW</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageUserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USERSHOW</servlet-name>
    <url-pattern>*.usershow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COMMODITYSHOW</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageCommodityservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMMODITYSHOW</servlet-name>
    <url-pattern>*.commodityshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ORDERSHOW</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageOrderservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORDERSHOW</servlet-name>
    <url-pattern>*.ordershow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CHULIDINGDAN</servlet-name>
    <servlet-class>com.backstage.servlet.more.Processingorders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CHULIDINGDAN</servlet-name>
    <url-pattern>*.Processingorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ORDERISOK</servlet-name>
    <servlet-class>com.backstage.servlet.more.Processingordersisok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORDERISOK</servlet-name>
    <url-pattern>*.isok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USERUPD</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageUserupdservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USERUPD</servlet-name>
    <url-pattern>*.userupd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USERDELETE</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageUserdeleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USERDELETE</servlet-name>
    <url-pattern>*.userdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USERADD</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageUseraddservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USERADD</servlet-name>
    <url-pattern>*.useradd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USERQNAME</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageUserqueryname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USERQNAME</servlet-name>
    <url-pattern>*.userqueryname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COMMODITYUPD</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageCommodityupdservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMMODITYUPD</servlet-name>
    <url-pattern>*.commodityupd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COMMODITYDELETE</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageCommoditydeleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMMODITYDELETE</servlet-name>
    <url-pattern>*.commoditydelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COMMODITYUPLOAD</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageCommodityupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMMODITYUPLOAD</servlet-name>
    <url-pattern>*.upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>COMMODITYADD</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageCommodityaddservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMMODITYADD</servlet-name>
    <url-pattern>*.commodityadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ORDERDELETE</servlet-name>
    <servlet-class>com.backstage.servlet.BackstageOrderdeleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ORDERDELETE</servlet-name>
    <url-pattern>*.orderdelete</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
<!--   ning -->
  <!-- 主页面servlet   -->
  <servlet>
  	<servlet-name>CQServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.CQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CQServlet</servlet-name>
  	<url-pattern>*.ning</url-pattern>
  </servlet-mapping>
  
  
<!--  详情页面servlet  -->
  <servlet>
  	<servlet-name>CAROServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.CAROServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CAROServlet</servlet-name>
  	<url-pattern>*.caro</url-pattern>
  </servlet-mapping>
  
<!--   商品分类页servlet -->
  <servlet>
  	<servlet-name>FLServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.FLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FLServlet</servlet-name>
  	<url-pattern>*.fl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PNumServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.PNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PNumServlet</servlet-name>
  	<url-pattern>*.page</url-pattern>
  </servlet-mapping>
  
<!--   商品抢购servlet  -->
  <servlet>
  	<servlet-name>SPQGServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.SPQGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SPQGServlet</servlet-name>
  	<url-pattern>*.rush</url-pattern>
  </servlet-mapping>
  
 <!--   商品抢购按钮servlet  --> 
  <servlet>
  	<servlet-name>QGBtnServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.QGBtnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QGBtnServlet</servlet-name>
  	<url-pattern>*.rushnum</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DLServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.DLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DLServlet</servlet-name>
  	<url-pattern>*.dlning</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DCQServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.DCQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DCQServlet</servlet-name>
  	<url-pattern>*.dc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>spcbServlet</servlet-name>
  	<servlet-class>com.ning.Servlet.SPCBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>spcbServlet</servlet-name>
  	<url-pattern>*.spcb</url-pattern>
  </servlet-mapping>
<!--  	李 -->
 <filter>
    <filter-name>fifter</filter-name>
    <filter-class>com.silence.Fifter.UserFifter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fifter</filter-name>
    <url-pattern>*.aa</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>silence</servlet-name>
    <servlet-class>com.silence.Servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>silence</servlet-name>
    <url-pattern>/aa.aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>silent</servlet-name>
    <servlet-class>com.silence.Servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>silent</servlet-name>
    <url-pattern>/bb.aa</url-pattern>
  </servlet-mapping>
<!--   冯 -->
<servlet>
  	<servlet-name>fan</servlet-name>
  	<servlet-class>com.feng.Servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>fan</servlet-name>
  	<url-pattern>*.fan</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bo</servlet-name>
  	<servlet-class>com.feng.Servlet.Order_ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bo</servlet-name>
  	<url-pattern>*.wcdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>feng</servlet-name>
  	<servlet-class>com.feng.Servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>feng</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>yi</servlet-name>
  	<servlet-class>com.feng.Servlet.Cart_dropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>yi</servlet-name>
  	<url-pattern>*.yi</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>